.from{
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    width: 70%;
    border: solid #445d88;
    border-radius: 30px;
    text-align: center;
    background-color: #d3def1;
}
.submit{
    justify-content: center;
    text-align: center;
  }