.post-container {
    margin: 50px auto;
    width: 50%;
    border: solid #1a6cf9;
    border-radius: 10px;
    text-align: center;
    background-color: #005eff;
  }
  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  input[type="text"] {
    width: 50%;
    height: 30px;
  }
  input[type="submit"] {
    width: 150px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .field{
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    width: 70%;
    border: solid #445d88;
    border-radius: 30px;
    text-align: center;
    background-color: #d3def1;
  }
  .submit{
    justify-content: center;
    text-align: center;
  }